/* RESET */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* VARIABILI */

/* UTILITY */

body {
  /* 10px / 16px = 0.625 = 62.5 % */
  font-size: 62.5%;
}

.margin-top-15 {
  margin-top: 15px;
}

.margin-top-30 {
  margin-top: 30px;
}

.margin-bottom-15 {
  margin-bottom: 15px;
}

.box {
  background-color: #006cfa;
  padding: 23px 20px;
  margin: 1px;
  position: relative;
}

h2 {
  font-size: 1.3rem;
}

p {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  color: #fff;
  margin: 0 auto;
  font-size: 0.6rem;
}

.box2 {
  background-color: #00e165;
  padding: 17px 20px;
  margin: 1px;
  position: relative;
}

.box3 {
  background-color: #006cfa;
  padding: 27px 20px;
  margin: 1px;
  position: relative;
}
